<% @page_title = 'Section list' %>

<div class="sections list">
	<h2>sections</h2>

	<%= link_to 'Add new section', {action: :new}, class: 'action new' %>

	<table class="listing" summary="sections list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Visible</th>
			<th>Content</th>			
		</tr>
		<% @sections.each do |section| %>
		<tr>
			<td><%= section.position %></td>
			<td class="center"><%= section.name %></td>
			<td class="center"><%= status_tag(section.visible) %></td>	
			<td class="center"><%= section.content %></td>			
			<td class="actions">
				<%= link_to('Show', section, class: 'action show') %>
				<%= link_to('Edit', {action: :edit, :id => section.id}, class: 'action edit') %>
				<%= link_to('Delete', {action: :delete, :id => section.id}, class: 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>